/*body {
  /* background-color: #669966;
  background-color: #ccffcc;
}*/

.navbar-default {
	background-color: #669966;
	color: #fff;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus
 {
	color: #ff6633;
	font-weight: bold;
	background-color: #ccffcc;
}

.navbar-default .navbar-text {
	color: #fff;
}

.margin-right-5{
	margin-right: 5px;
}

.margin-left-5{
	margin-left: 5px;
}

.margin-top-10{
	margin-top: 10px;	
}

.margin-top-30{
	margin-top: 30px;	
}

.padding-left-right-5{
	padding-left: 5px !important;	
	padding-right: 5px !important;
}

.padding-left-right-0{
	padding-left: 0px !important;	
	padding-right: 0px !important;
}
