<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The Light Saber Shop</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/custom.css" rel="stylesheet">
<link rel="shortcut icon" type="image/png" href="/favicon.png"/>
<script type="text/javascript">	

	//Limiting setting menu just for admin 
	function checkMenu(){
		if(![[${#httpServletRequest.isUserInRole("JEDIMASTER")}]]){
			removeElement("jediMasterMenu");
			if(![[${#httpServletRequest.isUserInRole("USER")}]]){
				removeElement("logoutMenu");
				removeElement("saberListMenu");
			};
		};
		if([[${#httpServletRequest.isUserInRole("JEDIMASTER")}]] || [[${#httpServletRequest.isUserInRole("USER")}]]){
			removeElement("signUpMenu");
			removeElement("loginMenu");
			getUser("Jedisabershop/user/single",'{"email":"'+document.getElementById("emailLabel").innerHTML+'"}');
		};
	};
	
	//Function to change pages (Actually it generates requested pages)
	function changeTo(page){
		clearContainer();
		document.title = "The Light Saber Shop - " + page;
		setActive(page);
	}
	
	//---------------------------------------------//
	//   R E U S A B L E   C O D E S   S T A R T   //
	//---------------------------------------------//
	
	
	//Function clear the container in page
	function clearContainer(){
		document.getElementById("container").innerHTML="";
	}
	
	//For getting data as json
	function getDataJson(api) {
		var myObj, x;
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				myObj = JSON.parse(this.responseText);
			}
		};
		xhttp.open("GET", "http://localhost:8082/api/" + api);
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send();
	}
	
	//For getting data as json !!Didnt verified that yet its working!!
	function getDataXml(api) {
		var myObj, x;
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				myObj = XML.parse(this.responseText);
			}
		};
		xhttp.open("GET", "http://localhost:8082/api/" + api);
		xhttp.setRequestHeader("Content-type", "application/xml");
		xhttp.send();
	}
	
	//For getting user data
	function getUser(api,data) {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var container = document.getElementById("containerUser");
				removeElement("emailLabel");
				container.innerHTML = "";
				myObj = JSON.parse(this.responseText);
				var roleLabel = document.createElement("LABEL");
				roleLabel.className = "margin-right-5";
				roleLabel.innerHTML = myObj.role;
				container.appendChild(roleLabel);
				var nameLabel = document.createElement("LABEL");
				nameLabel.innerHTML = myObj.name;
				nameLabel.className = "margin-right-5";
				container.appendChild(nameLabel);
				if(myObj.dissolvedInForce){
					var seperator = document.createElement("LABEL");
					seperator.innerHTML = "  -  ";
					seperator.className = "margin-right-5";
					container.appendChild(seperator);
					var dissolvedLabel = document.createElement("LABEL");
					dissolvedLabel.innerHTML = "Dissolved in force";
					container.appendChild(dissolvedLabel);
					var div = document.createElement("DIV");
					div.className="row";
					container.appendChild(div);
					var restLabel = document.createElement("LABEL");
					restLabel.innerHTML = "REST IN FORCE...";
					div.appendChild(restLabel);
					removeElement("lightSabersMenu");
					removeElement("saberListMenu");
				}else{
					var seperatorAge = document.createElement("LABEL");
					seperatorAge.innerHTML = "  -  Age: ";
					seperatorAge.className = "margin-right-5";
					container.appendChild(seperatorAge);
					var ageLabel = document.createElement("LABEL");
					ageLabel.innerHTML = myObj.age;
					ageLabel.className = "margin-right-5";
					container.appendChild(ageLabel);
					var seperatorForce = document.createElement("LABEL");
					var forceLabel = document.createElement("LABEL");
					if(myObj.force < 0){
						seperatorForce.innerHTML = "  -  Force is so strong with you! it's ";
						forceLabel.innerHTML = "Unlimited";
					} else {
						seperatorForce.innerHTML = "  -  Force: ";
						forceLabel.innerHTML = myObj.force;
					}
					seperatorForce.className = "margin-right-5";
					container.appendChild(seperatorForce);
					forceLabel.className = "margin-right-5";
					container.appendChild(forceLabel);
				}
			}
		};
		xhttp.open("POST", "http://localhost:8082/" + api, true);
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send(data);
	}

	//For posting data
	function postData(api,data) {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 202) {
				document.getElementById("Container").innerHTML = this.responseText+" Item Added";
			}
		};
		xhttp.open("POST", "http://localhost:8082/api/" + api, true);
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send(data);
	}
	
	//For updating data
	function putData(api,data) {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 202) {

			}
		};
		xhttp.open("PUT", "http://localhost:8082/api/" + api, true);
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send(data);
	}
	
	//For deleting data
	function deleteData(api,data) {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 204) {
			};
		};
		xhttp.open("DELETE", "http://localhost:8082/api/" + api, true);
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send(data);
	};
	
	//Removing any elements by id from page
	function removeElement(id){
		var element = document.getElementById(id);
		element.parentNode.removeChild(element);
	}
	
	//For setting menu button as active and removes active from other menu buttons
	function setActive(page){
		var pageNames = [{name:"Light Sabers",id:"lightSabersMenu"},{name:"XML File List",id:"saberListMenu"} ];  
		for(x in pageNames){
			if(pageNames[x].name == page){
				document.getElementById(pageNames[x].id).className += " active";
			} else {
				if(document.getElementById(pageNames[x].id).className.includes(" active")){
					document.getElementById(pageNames[x].id).className = document.getElementById(pageNames[x].id).className.replace(" active","");
				}
			}
		}
	}
	
	//---------------------------------------------//
	//     R E U S A B L E   C O D E S   E N D     //
	//---------------------------------------------//
</script>
</head>
<body onload="checkMenu()">
	<nav class="navbar navbar-default ">
	  <div class="container-fluid">
	    <ul id="mainMenu" class="nav navbar-nav">
	      <li id="lightSabersMenu"><a onclick='changeTo("Light Sabers")'>Light Sabers</a></li>
	      <li id="saberListMenu" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Get List Of Light Sabers<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a onclick='changeTo("XML File List")'>XML File List</a></li>
          </ul>
        </li>
        <li id="jediMasterMenu" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Jedi Master Menu<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Add a new light saber</a></li>
            <li><a href="#">Add light saber(s) from file</a></li>
          </ul>
        </li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	      <li id="signUpMenu" ><a th:href="@{/SignUp}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	      <li id="loginMenu" class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-log-in"></span> Login</a>
          <ul class="dropdown-menu">
            <li><div th:if="${param.error}">
		            Invalid username and password.
		        </div>
		        <div th:if="${param.logout}">
		            You have been logged out.
		        </div>
		        <form th:action="@{/login}" method="post">
		        	<div class="form-group margin-right-5 margin-left-5">
						<label for="DropdownFormEmail2" style="color:black">Email address</label>
						<input type="email" name="username" class="form-control" id="DropdownFormEmail2" placeholder="email@example.com">
					</div>
					<div class="form-group margin-right-5 margin-left-5">
						<label for="DropdownFormPassword2" style="color:black">Password</label>
						<input type="password" name="password" class="form-control" id="DropdownFormPassword2" placeholder="Password">
					</div>
					<div class="text-center margin-right-5 margin-left-5">
						<button type="submit" class="btn btn-default btn-lg btn-block">Sign in</button>
					</div>
		        </form>
        	</li>
          </ul>
        </li>
        <li id="logoutMenu"><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
	    </ul>
	  </div>
	  <div id="containerUser" class="container-fluid text-center navbar-inverse">
		<label id="emailLabel" th:inline="text">[[${#httpServletRequest.remoteUser}]]</label>
		</div>
	</nav>
	<div id="container" class="container-fluid">
		<div class="row text-center">
			<h2>Welcome to</h2>
        </div>
        <div class="row text-center">
			<h1>The Light Saber Shop</h1>
        </div>
        <div class="row text-center">
			<img alt="The_Light_Saber_Shop_logo" src="pictures/thelightsabershoplogo.png">
        </div>
        <div class="row text-center">
        </div>
        <div class="row text-center" style="margin-top:40px">
			<h4>Coded and Designed By</h4>
        </div>
        
        <div class="row text-center">
			<img alt="Sevket_Ozturk_logo" src="pictures/sevket_ozturk_logo.png" height="78px">
        </div>
    </div>
</body>
</html>