<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The Light Saber Shop - Sign Up</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/custom.css" rel="stylesheet">
<link rel="shortcut icon" type="image/png" href="/favicon.png"/>
<script type="text/javascript">	

	//These functions for automated drag and drop support for combat forms
	function allowDrop(ev) {
	    ev.preventDefault();
	}
	
	function drag(ev) {
	    ev.dataTransfer.setData("text/html", ev.target.id);
	}
	
	function dropUnselected(ev) {
	    ev.preventDefault();
	    var data = ev.dataTransfer.getData("text/html");
	    document.getElementById(data.substring(0,data.indexOf("_"))).checked = false;
	    document.getElementById("divUnselectedCombatForm").appendChild(document.getElementById(data));
	}
	function dropSelected(ev) {
	    ev.preventDefault();
	    var data = ev.dataTransfer.getData("text/html");
	    document.getElementById(data.substring(0,data.indexOf("_"))).checked = true;
	    document.getElementById("divSelectedCombatForm").appendChild(document.getElementById(data));
	}
	
	//Manually changing selection for combat forms
	function changeCombatFormSelection(id){
		var element = document.getElementById(id+"_div");
		var checkBox = document.getElementById(id);
		if (checkBox.checked == true){
			document.getElementById("divSelectedCombatForm").appendChild(element);
		} else {
			document.getElementById("divUnselectedCombatForm").appendChild(element);
		}
	};

	//For getting Combat Forms
	function getCombatForms() {
		var myObj, x, txt = "";
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				myObj = JSON.parse(this.responseText);
				var divUnselectedCombatForm = document.getElementById("divUnselectedCombatForm");
				for(x in myObj){
					var divCombatForm = document.createElement("DIV"); 
					divCombatForm.className="row";
					divCombatForm.style="margin-top:5px; margin-bottom:5px";
					divCombatForm.id = myObj[x].id + "_div"
					var checkbox = document.createElement("INPUT");
					checkbox.className = "col-sm-offset-1 col-sm-1";
					checkbox.type = "checkbox";
					checkbox.id = myObj[x].id;
					checkbox.onclick = function(){changeCombatFormSelection(this.id)};
					divCombatForm.appendChild(checkbox);
					var label = document.createElement("LABEL");
					var labelText = document.createTextNode(myObj[x].name);
					label.className = "col-sm-11";
					label.appendChild(labelText);
					divCombatForm.appendChild(label);
					if(myObj[x].name != "Shii-Cho"){
						divCombatForm.draggable="true";
						divCombatForm.ondragstart=function(event){drag(event)};
						divUnselectedCombatForm.appendChild(divCombatForm);
					} else {
						checkbox.checked = true;
						checkbox.disabled = true;
						divSelectedCombatForm.appendChild(divCombatForm);
					}
				}
			}
		};
		xhttp.open("GET", "http://localhost:8082/Jedisabershop/combatform");
		xhttp.setRequestHeader("Content-type", "application/json");
		xhttp.send();
		
	}
	
	//For posting user data as Json
	function postData() {
		var name = document.getElementById("inputName").value ;
		var age = document.getElementById("inputAge").value;
		var email = document.getElementById("inputEmail").value;
		var password = document.getElementById("inputPassword").value;
		var combat = "";
		if(name != "" && age != "" && email != "" && password != ""){
			var checkboxs = document.getElementsByTagName("input");
			for(var i = 0; i < checkboxs.length; i++) {
			    if(checkboxs[i].type == "checkbox") {
			    	if(checkboxs[i].checked == true) {
			    		if(combat.length < 1) {
			    			combat = combat + '{"id":'+ checkboxs[i].id +'}';
			    		}else{
			    			combat = combat + ',{"id":'+ checkboxs[i].id +'}';
			    		}
			    	};
			    }
			}
			var data = '{"name":"' + name + '","age":' + age + ',"email":"' + email + '","password":"'+ password + '", "combatForms":[' + combat + ']}';
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 202) {
					var container = document.getElementById("container")
					container.innerHTML = "";
					var divUser = document.createElement("DIV");
					divUser.className = "col-sm-12 text-center";
					var h3User = document.createElement("H3");
					h3User.style.fontWeight = "bold";
					var textUser = document.createTextNode("The Force is so Strong on you " + this.responseText);
					h3User.appendChild(textUser);
					divUser.appendChild(h3User);
					container.appendChild(divUser);
					var div = document.createElement("DIV");
					div.className = "col-sm-12 text-center";
					var h4 = document.createElement("H4");
					var text = document.createTextNode("You may now login to get the best Sabers");
					h4.appendChild(text);
					div.appendChild(h4);
					container.appendChild(div);
					var divForce = document.createElement("DIV");
					divForce.className = "col-sm-12 text-center";
					var h4Force = document.createElement("H4");
					h4Force.style.fontWeight ="bold";
					var textForce = document.createTextNode("May the force be with you !");
					h4Force.appendChild(textForce);
					divForce.appendChild(h4Force);
					container.appendChild(divForce);
				}
			};
			xhttp.open("POST", "http://localhost:8082/Jedisabershop/user/add", true);
			xhttp.setRequestHeader("Content-type", "application/json");
			xhttp.send(data);
		}

	}
</script>
</head>
<body onload='getCombatForms()'>
	<nav class="navbar navbar-default ">
	  <div class="container-fluid">
	    <ul id="mainMenu" class="nav navbar-nav">
	    	<li><a th:href="@{/}">Back To Main Page</a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
			<li class="active"><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
			<li><a id="loginLink" th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	    </ul>
	  </div>
	</nav>
	<div id="container" class="container-fluid">
	<div class="form-horizontal">
       	<div class="form-group">
			<label for="inputName" class="col-sm-3 control-label">Name</label>
			<div class="col-sm-8">
				<input name="name" type="text" class="form-control" id="inputName" placeholder="Name">
			</div>
		</div>
		<div class="form-group">
			<label for="inputAge" class="col-sm-3 control-label">Age</label>
			<div class="col-sm-8">
				<input name="age" type="number" class="form-control" id="inputAge" placeholder="Age">
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail" class="col-sm-3 control-label">Email</label>
			<div class="col-sm-8">
				<input name="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword" class="col-sm-3 control-label">Password</label>
			<div class="col-sm-8">
				<input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-8">
				<div class="col-sm-5">
					<div class="panel panel-default">
						<div class="panel-heading text-center">Known Combat Form(s)</div>
						<div id="divSelectedCombatForm" class="panel-body" ondrop="dropSelected(event)" ondragover="allowDrop(event)"></div>
					</div>
				</div>
				<div class="col-sm-offset-2 col-sm-5">
					<div class="panel panel-default">
						<div class="panel-heading text-center">Combat Forms</div>
						<div id="divUnselectedCombatForm" class="panel-body" ondrop="dropUnselected(event)" ondragover="allowDrop(event)"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-8">
		    	<button class="btn btn-default byn-block" onclick="postData()">Sign Up</button>
			</div>
		</div>
		</div>
    </div>
</body>
</html>